{% set current_url = app.request.requestUri %}
{% set links = [
    {
        'text' : 'global.title.homepage'|trans,
        'path' : path('homepage'),
        'icon': 'fa fa-home'
    }]
%}

{% for link in links %}
    {% set link_path = link.path is defined ? link.path : '' %}
    {% set link_icon = link.icon is defined ? link.icon : '' %}
    {% set link_text = link.text is defined ? link.text : '' %}
    {% set link_id = loop.index %}
    {% if link.subMenu is defined %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ link_path }}" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu_{{ link_id }}">
                <i class="{{ link_icon }}" aria-hidden="true"></i>{{ link_text }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu_{{ link_id }}">
                {% for sublink in link.subMenu %}
                    {% set sublink_path = sublink.path is defined ? sublink.path : '' %}
                    {% set sublink_icon = sublink.icon is defined ? sublink.icon : '' %}
                    {% set sublink_text = sublink.text is defined ? sublink.text : '' %}
                    <li>
                        <a class="dropdown-item" href="{{ sublink_path }}">
                            <i class="{{ sublink_icon }}" aria-hidden="true"></i> {{ sublink_text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ link_path }}">
                <i class="{{ link_icon }}" aria-hidden="true"></i> {{ link_text }}
            </a>
        </li>
    {% endif %}
{% endfor %}
